{% extends "base.html"%}
{% block content %}
{% include "nav.html" %}


{{data}}


<h1>{{data.name}}</h1>
<h2>{{game}}</h2>
{{ca}}
<div class="row">
  <div class="col col-sm-12 col-md-6 col-lg-3" style="background-color: green;">
    <section><h2>{{data.name}}</h2></section>
    <section><div><h2>map</h2>
    </div>
  <div>
    <img src="static/routes/Kanto_Route_1_RBY.png">
  </div>
  </section>
      <div class="row">
        <h5>Connecting locations </h5>
        <div class="row mx-auto allign-center" >
          <div class="col-4"></div>
          <div class="col-4">N <br> {{data.north}}</div>
          <div class="col-4"></div>
          <div class="col-4">E</div>
          <div class="col-4">{{data.name}}</div>
          <div class="col-4">W</div>
          <div class="col-4"></div>
          <div class="col-4">S {{data.south}}</div>
          <div class="col-4"></div>
        </div>
      </div>
  </div>
  <div class="col col-sm-12 col-md-6 col-lg-9 ">
    
  

<table>
    <th>Pokemon</th><th>enconter rate</th><th>caught</th>
    {% for p in data.pokemon.grass[game]%}
    <tr>
        <td>
            {{p.name}}
        </td>
        <td>
            {{p.encounter}}
        </td>
        <td>{% if p.id in ca%}
            Y
            {%else %}
            N
            {%endif%}
        </td>
        <td>{% if p['id'] in ca %} 
            <form action="/uncaught/{{gid}}/{{p.id}}" method="POST" >
              <input type="hidden" name="next" value="{{request.args.get('next')}}" />
            <button type="submit" class="btn btn-primary">uncaught</button>
          </form>
            {% else %}
            <form action="/caught/{{gid}}/{{p.id}}" method="POST" >
              <input type="hidden" name="next" value="{{request.args.get('next')}}" />
            <button type="submit" class="btn btn-primary">caught</button>
          </form>
          {% endif %} </td>
    </tr>
    {% endfor %}
</table>


{% if data.pokemon.fishing != None %}
<table>
  <th>Pokemon</th><th>enconter rate</th><th>rod Type</th><th>caught</th>
  {% for p in data.pokemon.fishing.oldrod[game]%}
  <tr>
      <td>
          {{p.name}}
      </td>
      <td>
          {{p.encounter}}
      </td>
      <td>old rod</td>
      <td>{% if p.id in ca%}
          Y
          {%else %}
          N
          {%endif%}
      </td>
      <td>{% if p['id'] in ca %} 
          <form action="/uncaught/{{gid}}/{{p.id}}" method="POST" >
            <input type="hidden" name="next" value="{{request.args.get('next')}}" />
          <button type="submit" class="btn btn-primary">uncaught</button>
        </form>
          {% else %}
          <form action="/caught/{{gid}}/{{p.id}}" method="POST" >
            <input type="hidden" name="next" value="{{request.args.get('next')}}" />
          <button type="submit" class="btn btn-primary">caught</button>
        </form>
        {% endif %} </td>
  </tr>
  {% endfor %}
  {% for p in data.pokemon.fishing.goodrod[game]%}
  <tr>
      <td>
          {{p.name}}
      </td>
      <td>
          {{p.encounter}}
      </td>
      <td>Good Rod</td>
      <td>{% if p.id in ca%}
          Y
          {%else %}
          N
          {%endif%}
      </td>
      <td>{% if p['id'] in ca %} 
          <form action="/uncaught/{{gid}}/{{p.id}}" method="POST" >
            <input type="hidden" name="next" value="{{request.args.get('next')}}" />
          <button type="submit" class="btn btn-primary">uncaught</button>
        </form>
          {% else %}
          <form action="/caught/{{gid}}/{{p.id}}" method="POST" >
            <input type="hidden" name="next" value="{{request.args.get('next')}}" />
          <button type="submit" class="btn btn-primary">caught</button>
        </form>
        {% endif %} </td>
  </tr>
  {% endfor %}
</table>
</div>
{% endif %}
</div>
{% endblock %}
