<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/prashantchaudhary/ddslick/master/jquery.ddslick.min.js" ></script>
    <h1>Looking for Players ..</h1>
    {{ current_user.username }}
    {% if current_user.pic != None %}
    <h2>pic</h2>
    {{current_user.pic}}
    {% else %}
    <h2>no pic</h2>
    {% endif %}

    <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="/api/postgame" method="POST">
        <div class="modal-body">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Title</label>
                <input type="text" class="form-control" name="title" aria-describedby="emailHelp">
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Game</label>
                <select class="form-select form-select-lg mb-3" id="myDropdown" aria-label=".form-select-lg example">
                    <option selected>Open this select menu</option>
                    {% for g in games_list %}
                    <option value="{{g.name}}" data-imagesrc="{{g.image}}"
                    >{{g.name}}</option>
                    
                    {% endfor %}
                  </select>
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Gamer Tag</label>
                <input type="text" class="form-control" name="gamer_tag" aria-describedby="emailHelp">
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Message</label>
                <textarea type="text" class="form-control" name="message" aria-describedby="emailHelp"></textarea>
              </div>
            
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit"  class="btn btn-primary">post game</button>

        </div>
        </form>
      </div>
    </div>
  </div>
    <section class="container">
        <div class="row">
            <div class="col">
        <div id="output"> Loading ...</div>
        </div>
    </div>
    </section>
<script>
            let loader = `<div class="boxLoading"></div>`;
        var output = document.getElementById('output')
        var myHtml =loader;
       async function loadData(){

        const response = await fetch('api/data_test',);
        const data = await response.json();
        //console.log(data)    
        
        data.map(d => {
            //console.log(d);
	 myHtml +=
     `
     <div class="card">
        <div class="card-title">${d['title']}</div>
        <div class="card-text">${d['message']}</div>
    </div>
        `;
});
output.innerHTML= myHtml
       }


       loadData() 


</script>
<script>
    $('#myDropdown').ddslick({
    onSelected: function(selectedData){
        //callback function: do something with selectedData;
    }   
});
</script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>